<% if flash[:warning] %>
  <div class="flash-warning">
    <%= flash[:warning] %>
  </div>
<% end %>

<h1>Github Repo Search</h1>

<%= form_with(url: repo_search_path, method: :get) do |f| %>
  <%= f.label :search, 'Search Github Repositories:' %>
  <%= f.text_field :search, placeholder: 'Find a repository...' %>
<% end %>

<br><hr>

<% if @repositories.present? %>
  <div class="results">
    <% if @repositories['total_count'].zero? %>
      <div class="centerize"><h1>No repositories to show</h1></div>
    <% else %>

      <h1>Search Results for <u><%= @search_term %></u> (<%= @repositories['total_count'] %> repos)</h1>
      <h5>Intentionally limited to top 30 results</h5>

      <% @repositories['items'].each do |result| %>
        <div class="search_result">
          <%= link_to(result['html_url'], target: '_blank') do %>

            <span class="repo-title">
              <%= result['full_name'].split('/').first %> /
              <strong><%= result['full_name'].split('/').last %></strong>
            </span><br><br>

            <%= result['description'] %>

          <% end %>
        </div>
      <% end %>

    <% end %>
  </div>
<% end %>
